body {
    padding-top: 70px;
    background-color: #f5f5f5;
}

#app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#categories {
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 40px;
}

.container {
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    text-align: center;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.category {
    display: none;
}
.category.visible {
    display: block;
}

.article-content {
    display: none;
}

#feeds {
    padding-top: 40px;
}

#feeds ul {
    width: 99%;
}

#feeds li {
    list-style-type: none;
    border: 1px solid #DDD;
    padding: 7px;
    cursor: pointer;
}

#feeds .title {
    height: 30px;
    width: 100%;
    display: inline-block;
}

#feeds .title.unread {
    font-weight: bold;
}

#feeds .link {
    margin-top: -5px;
    font-weight: normal;
}

#feeds .article-content {
    border: 1px solid #DDD;
    background: white;
    width: 100%;
    padding-top: 10px;
    display: none;
}
#feeds .article-content.visible {
    display: block;
}

#feeds .article-content .content {
    max-width: 600px;
    margin: auto;
}

