<!DOCTYPE html>
<html>
  <head>
    <title>Tinier Tiny RSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/ttrss.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/tinier-tiny-rss">Tinier Tiny RSS</a>
      </div>
    </div>

    <div id="app">

    </div>

    <script type="text/html" id="login-view-tpl">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" name="login" class="input-block-level" placeholder="Email address">
            <input type="password" name="password" class="input-block-level" placeholder="Password">
            <button class="btn btn-large btn-primary">Sign in</button>
        </form>
    </script>
    <script type="text/html" id="categories-view-tpl">
        <div class="span3" id="categories">
            <ul class="nav nav-tabs nav-stacked">
                <% for (var i = 0; i < content.length; i++) { %>
                    <% if (content[i].id > 0) { %>
                        <li>
                            <a href="#feed/<%= content[i].id %>">
                                <i class="icon-folder-close"></i>
                                <%= content[i].title %>
                                <% if (content[i].unread) { %>
                                    <span class="badge pull-right"><%= content[i].unread %></span>
                                <% } %>
                            </a>
                            <ul id="cat-<%= content[i].id %>" class="category"></ul>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="span9 offset3" id="feeds"></div>
    </script>
    <script type="text/html" id="feed-view-tpl">
        <% for (var i = 0; i < content.length; i++) { %>
        <li>
            <a href="#feed/view/<%= content[i].id %>"><%= content[i].title %>
                <% if (content[i].unread) { %>
                <span class="badge pull-right"><%= content[i].unread %></span>
                <% } %>
            </a>
        </li>
        <% } %>
    </script>
    <script type="text/html" id="article-view-tpl">
        <ul>
            <% for (var i = 0; i < content.length; i++) { %>
            <li>
                <span class="title<% if (content[i].unread) { %> unread<% } %>">
                    <%= content[i].title.replace(/&amp;#([0-9]+);/, function(match, p1) { return String.fromCharCode(p1); }) %>
                    <a href="<%= content[i].link %>" class="link pull-right btn" target="_blank"><i class="icon-globe"></i> link</a>
                </span>

                <div class="article-content">
                    <div class="content">
                        <%= content[i].content %>
                    </div>
                </div>
                <div class="article-iframe"></div>
            </li>
            <% } %>
        </ul>
    </script>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <!--<script src="js/ttrss.js"></script>-->
    <script src="js/app/models/login.js"></script>
    <script src="js/app/models/category.js"></script>
    <script src="js/app/models/feed.js"></script>
    <script src="js/app/models/articles.js"></script>
    <script src="js/app/views/login.js"></script>
    <script src="js/app/views/categories.js"></script>
    <script src="js/app/views/category.js"></script>
    <script src="js/app/views/feed.js"></script>
    <script src="js/app/views/articles.js"></script>
    <!--<script src="js/app/collections/categories.js"></script>-->
    <script src="js/app/router.js"></script>
    <script src="js/app/application.js"></script>
  </body>
</html>