<!DOCTYPE html>
<html>
  <head>
    <title>Tinier Tiny RSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/ttrss.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/tinier-tiny-rss">Tinier Tiny RSS</a>
      </div>
    </div>

    <div id="app">

    </div>

    <script type="text/html" id="login-view-tpl">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" name="login" class="input-block-level" placeholder="Email address">
            <input type="password" name="password" class="input-block-level" placeholder="Password">
            <button class="btn btn-large btn-primary">Sign in</button>
        </form>
    </script>
    <script type="text/html" id="categories-view-tpl">
        <div class="row-fluid">
            <div class="span2" id="categories">
                <ul class="nav nav-tabs nav-stacked">
                </ul>
            </div>
            <div class="span9 offset2" id="feeds"></div>
        </div>
    </script>
    <script type="text/html" id="category-view-tpl">
        <div>
            <button class="btn btn-link expand-category" data-cat_id="<%= id %>">
                <i class="icon-plus"></i>
                <i class="icon-minus"></i>
            </button>
            <a href="#feed/cat/view/<%= id %>">
                <i class="icon-folder-close"></i>
                <%= title %>
            </a>
            <% if (unread) { %>
            <span class="badge pull-right"><%= unread %></span>
            <% } %>
        </div>
        <ul id="cat-<%= id %>" class="category"></ul>
    </script>
    <script type="text/html" id="feed-view-tpl">
        <% for (var i = 0; i < content.length; i++) { %>
        <li>
            <a href="#feed/view/<%= content[i].id %>">
                <i class="icon-tasks"></i>
                <%= content[i].title.substr(0, 16) %>
                <%= (content[i].title.length > 16)?'...':'' %>
                <% if (content[i].unread) { %>
                <span class="badge pull-right"><%= content[i].unread %></span>
                <% } %>
            </a>
        </li>
        <% } %>
    </script>
    <script type="text/html" id="article-view-tpl">
        <ul>
            <% for (var i = 0; i < content.length; i++) { %>
            <li>
                <span class="title<% if (content[i].unread) { %> unread<% } %>">
                    <%= content[i].title.replace(/&amp;#([0-9]+);/, function(match, p1) { return String.fromCharCode(p1); }) %>
                    <span class="feed-title">(<%= content[i].feed_title %>)</span>
                    <a href="<%= content[i].link %>" class="link pull-right btn" target="_blank"><i class="icon-globe"></i> link</a>
                </span>

                <div class="article-content">
                    <div class="content">
                        <%= content[i].content %>
                    </div>
                </div>
                <div class="article-iframe"></div>
            </li>
            <% } %>
        </ul>
    </script>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <!--<script src="js/ttrss.js"></script>-->
    <script src="js/app/models/login.js"></script>
    <script src="js/app/models/category.js"></script>
    <script src="js/app/models/feed.js"></script>
    <script src="js/app/models/articles.js"></script>
    <script src="js/app/views/login.js"></script>
    <script src="js/app/views/categories.js"></script>
    <script src="js/app/views/category.js"></script>
    <script src="js/app/views/feed.js"></script>
    <script src="js/app/views/articles.js"></script>
    <script src="js/app/collections/categories.js"></script>
    <script src="js/app/router.js"></script>
    <script src="js/app/application.js"></script>
  </body>
</html>